
<h3>Questionario</h3>


<div *ngIf="questionarioCompilato != null">

Progetto: {{questionarioCompilato.progetto.titolo}}<br>
Questionario: {{questionarioCompilato.questionario.titolo}}<br>


<div *ngIf="questionarioCompilato.utenti_valutati">
        Quale utente stai valutando?
        <select [(ngModel)]="utente_valutato_corrente" >
                <option *ngFor="let utente of questionarioCompilato.utenti_valutati"value="{{utente.username}}">{{ utente.nome }} {{ utente.cognome }}</option>
        </select>
</div>

<br/>

<div *ngIf="sezione_corrente != null">

        <h2>SEZIONE N. {{sezione_corrente.progressivo_sezione}} '{{sezione_corrente.titolo}}' </h2>
        {{sezione_corrente.descrizione}}

        <table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;">
                <thead>
                        <th style="width:50%">Domanda</th>
                        <th>Risposta</th>
                        <th>Note</th>
                </thead>
                <tr compila-questionario-domanda *ngFor="let domanda of sezione_corrente.domande"
                        [domanda]="domanda"
                        [questionario_modificabile]="questionarioCompilato.stato == '0'"
                        (compiled)="calc_is_sezione_compilata()">
                </tr>
        </table>

<div>
        <button class="btn" (click)="sezPrecedente()">Sez. precedente</button>
        <button class="btn btn-success" (click)="salvaSezione()"
                [disabled]="!is_sezione_compilata"
                [title]="(this.is_sezione_compilata) ? '' : 'Compilare tutti i campi richiesti'">Salva</button>
        <button class="btn" (click)="sezSuccessiva()"
                [disabled]="!is_sezione_compilata"
                [title]="(is_sezione_compilata) ? '' : 'Compilare tutti i campi richiesti'">Sez. successiva</button>
</div>

</div>


<button *ngIf="questionarioCompilato.stato == '0' && questionarioCompilato.is_compilato == '1'" class="btn btn-danger" (click)="convalida()" >Convalida il questionario</button>

</div>