<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
    <div class="container">
        <div class="mobile_div_style">
            <a class="navbar-brand" routerLink="/"><img style="height: 50px;" src="./src/assets/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link" routerLink="/questionari_da_compilare" [routerLinkActive]="['is-active']">Compilazione questionari</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-item nav-link" routerLink="/questionari_compilati" [routerLinkActive]="['is-active']">Storico questionari compilati</a>
                </li>
                <li *ngIf="currentUser && currentUser.ruolo >= '1'" class="nav-item active">
                    <a class="nav-item nav-link" routerLink="/progetti" [routerLinkActive]="['is-active']">Gestione Progetti</a>
                </li>
                <li *ngIf="currentUser && currentUser.ruolo >= '1'" class="nav-item active">
                    <a class="nav-item nav-link" routerLink="/questionari" [routerLinkActive]="['is-active']">Gestione Questionari</a>
                </li>
                <li *ngIf="currentUser && currentUser.ruolo == '2'" class="nav-item active">
                    <a class="nav-item nav-link" routerLink="/utenti" [routerLinkActive]="['is-active']">Utenti</a>
                </li>
            </ul>
            <strong class="navbar-text hidden-mobile">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{currentUser.cognome}} {{currentUser.nome}}<br/>
                            <small>{{currentUser.ruolo_dec}}</small>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/about">About</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout</a>
                    </div>
                </div>                    
            </strong>
        </div>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>