
<!--Questa pagina cambia in base al parametro "storico" (boolean)-->

<div *ngIf="!storico">
    <h3>Questionari che possono essere compilati dall'utente</h3>
</div>
<div *ngIf="storico">
    <h3>Storico dei questionari già compilati</h3>
</div>

<button class="btn" style="margin-right:5px;margin-top:10px;" (click)="refresh()">Refresh</button>
<search (doSearch)="set_search_string($event)" [searchString]="searchString"></search>

<table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;">
    <thead>
        <th>Progetto</th>
        <th>Questionario</th>
        <th>Data compilazione</th>
        <th>Stato compilazione</th>
        <th *ngIf="storico && currentUser.ruolo == '2'">Utente</th>
        <th>Azioni</th>
    </thead>
    <tbody>
        <tr table-quest-comp-row *ngFor="let q of quest_comp_visibili"  [data]="q" [storico]="storico"
            (itemRemoved)="removeItem($event)" (itemCreated)="sendMsgQuestComp(q, 'Iniziata la compilazione')"></tr>
    </tbody>
</table>
