<h3>Progetti</h3>
<button class="btn" style="margin-right:5px;margin-top:10px;" (click)="crea()">Nuovo progetto</button>
<button class="btn" style="margin-top:10px;" (click)="refresh()">Refresh</button>

<table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;">
    <thead>
        <th>Titolo</th>
        <th>Stato</th>
        <th>Creato da</th>
        <th>Data</th>
        <th>Azioni</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of progetti; let i= index">
            <td>{{p.titolo}}</td>
            <td>{{p.stato_dec}}</td>
            <td>{{p.utente_creazione}}</td>
            <td>{{p.data_creazione}}</td>
            <td style="width:30%">
                <button class="btn btn-success" style="min-width: calc((100% / 2) - 20px); margin-right: 5px;"  
                    routerLink="/progetti/{{p.id_progetto}}" routerLinkActive="active"
                    [title]="p.gia_compilato=='1' ? 'Questionario già compilato' : ''">
                    {{p.gia_compilato == '0' ? 'Apri' : 'Apri (read-only)'}}</button>
                <button class="btn btn-dark" style="min-width: calc((100% / 4) - 20px); margin-right: 5px;" 
                    (click)="duplica(i)">Duplica</button>
                <button class="btn btn-danger" style="min-width: calc((100% / 4) - 20px);"
                    [disabled]="p.gia_compilato=='1'" (click)="elimina(i)"
                    [title]="p.gia_compilato=='1' ? 'Questionario già compilato' : ''"
                     >Elimina</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
</div>