<h3>Progetti</h3>
<button class="btn" style="margin-right:5px;margin-top:10px;" (click)="crea()"><i class="fa fa-plus-square"></i> Nuovo progetto</button>
<button class="btn" style="margin-top:10px;margin-right:5px;" (click)="refresh()"><i class="fa fa-sync"></i> Refresh</button>
<search (doSearch)="set_search_string($event)" [searchString]="searchString"></search>

<table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;">
    <thead>
        <th>Titolo</th>
        <th>Stato</th>
        <th>Creato da</th>
        <th>Data</th>
        <th>Azioni</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of progetti_visibili">
            <td>{{p.titolo}}</td>
            <td>{{p.stato_dec}}</td>
            <td>{{p.utente_creazione}}</td>
            <td>{{p.data_creazione}}</td>
            <td style="width:30%">
                <button class="{{p.gia_compilato=='1' ? 'btn btn3 btn-readonly' : 'btn btn3 btn-success'}}"
                    routerLink="/progetti/{{p.id_progetto}}" routerLinkActive="active"
                    [title]="p.gia_compilato=='1' ? 'Apri (read-only perchè esistono compilazioni)' : 'Apri'">
                    <i class="fa fa-edit"></i></button>
                <button class="btn btn-dark btn3"
                    (click)="duplica(p.id_progetto)"
                    title="Duplica"><i class="fa fa-clone"></i></button>
                <button class="btn btn-danger btn3"
                    [disabled]="p.gia_compilato=='1'" (click)="elimina(p.id_progetto)"
                    [title]="p.gia_compilato=='1' ? 'Impossibile eliminare perchè esistono compilazioni' : 'Elimina'"
                     ><i class="fa fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div>
</div>