<search (doSearch)="searchStringFunction($event)" [(searchString)]="pagination.search_string"></search>

<div style="float:right;margin-left: 15px;">
    <button class="btn" *ngIf="pagination.mostra_bottone_stato == true" [ngClass]="{'btn-dark' : !pagination.mostra_solo_validi, 'btn-success' : pagination.mostra_solo_validi}" style="margin-top:10px;float: left;margin-right:15px;" (click)="filter_stato(pagination.mostra_solo_validi)"><i class="fa fa-filter"></i>  Mostra solo Validi/Bozze</button>
    <button class="btn" *ngIf="pagination.is_quest_comp == true" [ngClass]="{'btn-dark' : !pagination.mostra_solo_admin, 'btn-success' : pagination.mostra_solo_admin}" style="margin-top:10px;float: left;margin-right:15px;" (click)="filter_admin(pagination.mostra_solo_admin)"><i class="fa fa-filter"></i>  Mostra solo i miei</button>
    <button class="btn btn-dark" style="margin-top:10px;float: left;" [disabled]="this.pagination.start_item == 0" (click)="paginationMinusFunction()">Prec</button>
    <span style=" width: auto; text-align: center;float: left;line-height: 33px;margin-top: 10px;margin-left: 15px;margin-right: 5px;">
        Pag {{this.numPag}} / {{this.numPagine}}
    </span>
    <button class="btn btn-dark" style="float:right;margin-left:15px;margin-top:10px;margin-right:5px;" [disabled]="this.pagination.start_item + this.pagination.row_per_page >= this.count" (click)="paginationPlusFunction()">Succ</button>
</div>