<div *ngIf="questionario == null">
    Loading...
</div>
<div *ngIf="questionario != null">

    <form style="margin-bottom:30px; border-bottom: 1px solid;float:left;width:100%;padding-bottom: 15px;">
        <h3>Questionario</h3>
        <h5>Dati Generali</h5>
        <div class="row">
            <div class=" col">
                <label for="titolo_progetto">Titolo Questionario</label>
                <input type="text" class="form-control" id="titolo_progetto" placeholder="Titolo Questionario" [(ngModel)]="questionario.titolo" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col">
                <label for="stato_progetto">Stato</label>                
                <select class="form-control" required  [(ngModel)]="questionario.stato" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let dati_stato_progetto of stato_questionario; index as i" value="{{i}}">
                        {{ dati_stato_progetto }}
                    </option>   
                </select>   
            </div>

            <div class="col">
                <label for="stato_progetto">Comune</label>
                <select class="form-control" required  [(ngModel)]="questionario.flag_comune" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let dati_flag_comune of flag_comune_select; index as i" value="{{i}}">
                        {{ dati_flag_comune }}
                    </option>   
                </select>  
            </div>
        </div>
        <div><button class="btn btn-success" style="float:right;margin-right:5px;margin-top:10px;" (click)="updQuestionario(questionario)">Salva Progetto</button></div>      
    </form>
    

    <button (click)="creaSezione()" class="btn btn-success">Crea Nuova Sezione</button>

    <form style="margin-bottom:30px; border-bottom: 1px solid;float:left;width:100%;padding-bottom: 15px;" *ngIf="sezione_corrente"> 
        <h3>Sezione N° {{sezione_corrente.progressivo_sezione}}</h3> <br>
        <h5>Dati Generali</h5> <br>
        <div class="row">
            <div class=" col"> 
                <label for="titolo_progetto">Titolo Sezione</label>
                <input type="text" class="form-control" id="titolo_progetto" placeholder="Titolo Questionario" [(ngModel)]="sezione_corrente.titolo" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col">
                <label for="stato_progetto">Descrizione</label>                
                <textarea class="form-control" [(ngModel)]="sezione_corrente.descrizione" [ngModelOptions]="{standalone: true}">{{sezione_corrente.descrizione}}</textarea>
            </div>
        </div>
        <button *ngIf="!is_nuova_sezione" class="btn btn-success" style="margin-right:5px;margin-top:10px;" (click)="modificaSezione(sezione_corrente)">Modifica Sezione</button>
        <button *ngIf="is_nuova_sezione" class="btn btn-success" style="margin-right:5px;margin-top:10px;" (click)="salvaSezione(sezione_corrente)">Salva Sezione</button>      
        <button  class="btn btn-dark" style="margin-right:5px;margin-top:10px;" (click)="duplicaSezioneCorrente()">Duplica sezione</button>
    </form>


    <div *ngIf="(questionario.sezioni.length > 0) && (sezione_corrente != null)">
        <table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;">
            <thead>
                <th>Descrizione</th>
                <th>Obbligatoria</th>
                <th>Coefficiente</th>
                <th>HTML Type</th>
                <th>Pattern</th>
                <th>Min</th>     
                <th>Max</th>   
                <th>Azioni</th>       
            </thead>    
            <tbody>
                <tr table-domande-row *ngFor="let domanda_row of sezione_corrente.domande; let i= index;" [questionario]="this.questionario"  [domanda]="domanda_row"
                    [indexDomanda]="i"></tr>
            </tbody>
        </table>
    </div>


<!--
    <div *ngIf="(questionario.sezioni.length > 0) && (sezione_corrente != null)">
        SEZIONE N. {{sezione_corrente.progressivo_sezione}} <strong>{{sezione_corrente.titolo}} </strong><br>
        <div *ngFor="let domanda of sezione_corrente.domande; let i= index;">
            {{domanda.descrizione}}
            <div *ngFor="let risposta of domanda.risposte">
                    &gt;&gt; {{risposta.descrizione}}
            </div>
            <div>
                    <button (click)="duplicaDomanda(i)">Duplica domanda</button>
                    <button (click)="eliminaDomanda(i)">Elimina domanda</button>
            </div>
        </div> 
    </div>           
-->
    <div class="col" style="padding:0px;">
        <button class="btn btn-dark" style="float:left" (click)="sezPrecedente()">Sez. precedente</button>
        <button class="btn btn-dark" style="float:right" (click)="sezSuccessiva()">Sez. successiva</button>
    </div>
    <div *ngIf="questionario.sezioni.length == 0">
            Questo questionario non ha ancora sezioni.
    </div>

</div>
