<td style="width:14%;">
    <div *ngIf="utente.creating">
        <input class="form-control input_utente" [disabled]="utente.from_ldap" [(ngModel)]="utente_in_modifica.username" required title="LDAP username" placeholder="LDAP username" />
    </div>
    <div *ngIf="!utente.creating">
        <div tabindex="0" style="outline: none !important; line-height: 38px;padding-left:.75rem;text-align:center" title="{{utente.username}}">{{ utente.username}}&nbsp;</div>
    </div>
</td>
<td style="width:15%;">
    <div *ngIf="utente.editing">
        <input class="form-control input_utente" [disabled]="utente.from_ldap" [(ngModel)]="utente_in_modifica.nome" required title="Nome" placeholder="Nome" />
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.nome}}" tabindex="0" style="outline: none !important; line-height: 38px;text-align:center" title="{{utente.nome}}">{{utente.nome}}&nbsp;</div>
    </div>
</td>
<td style="width:15%;">
    <div *ngIf="utente.editing">
        <input class="form-control input_utente" [disabled]="utente.from_ldap" [(ngModel)]="utente_in_modifica.cognome" required title="Cognome" placeholder="Cognome" />
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.cognome}}" tabindex="0" style="outline: none !important; line-height: 38px;text-align:center" title="{{utente.cognome}}">{{utente.cognome}}&nbsp;</div>
    </div>
</td>
<td style="width:20%;">
    <div *ngIf="utente.editing">
        <input type="email" class="form-control input_utente" [disabled]="utente.from_ldap" alt="{{utente.email}}" [(ngModel)]="utente_in_modifica.email" title="Email" placeholder="Email" />
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.email}}" tabindex="0" style="outline: none !important; line-height: 38px;text-align:center" title="{{utente.email}}">{{utente.email}}&nbsp;</div>
    </div>
</td>
<td style="width:15%;">
    <div *ngIf="utente.editing">
        <select class="form-control input_utente" [(ngModel)]="utente_in_modifica.ruolo" required>
            <option *ngFor="let option of ruoliMap; index as i" value="{{i}}">
                {{ option }}
            </option>
        </select>
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.ruolo_dec}}" tabindex="0" style="outline: none !important; line-height: 38px;text-align:center">{{utente.ruolo_dec}}&nbsp;</div>
    </div>
</td>
<td style="width:21%;">
    <div>
        <button class="btn btn-success btn3" *ngIf="!utente.editing" [disabled]="utente.from_ldap" data-toggle="modal" [attr.data-target]="'#myModal_' + indice_utente" (click)="showModal(this.utente)" style="background-color: grey;border-color: grey;" [title]="utente.from_ldap ? 'Impossibile cambiare password di utenza LDAP' : 'Cambia Password'"><i class="fa fa-key"></i></button>
        <button class="btn btn-success btn3" *ngIf="!utente.editing" (click)="goToEdit()" title="Modifica"><i class="fa fa-edit"></i></button>
        <button class="btn btn-danger btn3" *ngIf="!utente.editing" (click)="delete(this.utente.username)" title="Elimina"><i class="fa fa-trash-alt"></i></button>
        <button class="btn btn-success btn2" *ngIf="utente.editing" (click)="save()" title="Salva"><i class="fa fa-save"></i></button>
        <button class="btn btn-danger btn2" *ngIf="utente.editing" (click)="returnFromEdit()" title="Annulla"><i class="fa fa-undo"></i></button>
    </div>
</td>
<td style="width:0px !important;padding:0px;">
    <div class="modal fade" id="myModal_{{indice_utente}}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inserimento nuova Password per utente</h4>
                    <button type="button" class="close" (click)="hideModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <p>La password, se già inserita, verrà sovrascritta </p>
                    <div>
                        <input class="form-control" type="password" [(ngModel)]="password_utente" title="Password" placeholder="Inserisci qui la password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="sendModal(this.utente.username)">Salva</button>
                    <button type="button" class="btn btn-danger" (click)="hideModal()">Chiudi</button>
                    <button type="button" id="close-modal_{{indice_utente}}" data-dismiss="modal" style="display: none">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</td>