<td>
    <div *ngIf="utente.creating">
        <input class="form-control" style="width: auto;max-width: 130px;" [(ngModel)]="utente_in_modifica.username" required title="LDAP username" />
    </div>
    <div *ngIf="!utente.creating">
        <div tabindex="0" style="outline: none !important; line-height: 38px;" title="{{utente.username}}">{{ this.truncate(utente.username) }}&nbsp;</div>
    </div>        
</td>
<td>
    <div *ngIf="utente.editing">
        <input class="form-control" style="width: auto;max-width: 130px;"  [(ngModel)]="utente_in_modifica.nome" required title="Nome" />
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.nome}}" tabindex="0" style="outline: none !important; line-height: 38px;" >{{utente.nome}}&nbsp;</div>
    </div>
</td>
<td>
    <div *ngIf="utente.editing">
        <input class="form-control" style="width: auto;max-width: 130px;"  [(ngModel)]="utente_in_modifica.cognome" required title="Cognome" />
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.cognome}}" tabindex="0" style="outline: none !important; line-height: 38px;" >{{utente.cognome}}&nbsp;</div>
    </div>
</td>
<td>
    <div *ngIf="utente.editing">
        <input type="email" class="form-control" style="width: auto;max-width: 130px;" alt="{{utente.email}}"  [(ngModel)]="utente_in_modifica.email" required title="Email" />
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.email}}" tabindex="0" style="outline: none !important; line-height: 38px;" >{{utente.email}}&nbsp;</div>
    </div>
</td>
<td>
    <div *ngIf="utente.editing">
        <select class="form-control" [(ngModel)]="utente_in_modifica.ruolo" required>
            <option *ngFor="let option of ruoliMap; index as i"
                value="{{i}}">
                {{ option }}
            </option>


        </select>
    </div>
    <div *ngIf="!utente.editing">
        <div title="{{utente.ruolo_dec}}" tabindex="0" style="outline: none !important; line-height: 38px;">{{utente.ruolo_dec}}&nbsp;</div>
    </div>
</td>
<td>
    <div>
        <button style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" class="btn btn-success" *ngIf="!utente.editing" (click)="goToEdit()" title="Modifica"><i class="fa fa-edit"></i></button>
        <button style="min-width: calc((100% / 2) - 10px);" class="btn btn-danger" *ngIf="!utente.editing" (click)="delete(this.utente.username)" title="Elimina"><i class="fa fa-trash-alt"></i></button>
        <button style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" class="btn btn-success" *ngIf="utente.editing" (click)="save()" title="Salva"><i class="fa fa-save"></i></button>
        <button style="min-width: calc((100% / 2) - 10px);" class="btn btn-danger" *ngIf="utente.editing" (click)="returnFromEdit()" title="Annulla"><i class="fa fa-undo"></i></button>
    </div>
</td>