[Unit]
Description=Websockets broadcasting daemon

[Service]
Requires=network-online.target
ExecStart=/usr/local/bin/websockets-server

[Install]
WantedBy=multi-user.target
