[Unit]
Description=Websockets broadcasting daemon

[Service]
Type=notify
ExecStart=/usr/local/bin/websockets.server

[Install]
WantedBy=multi-user.target
