
        <td *ngIf="domanda.editing" colspan="11">
            <div class="row" style="margin:10px 0px;">
                <div class="col">
                    <h5>Domanda N° {{domanda.progressivo_domanda}}</h5> 
                </div>
            </div>
            <div class="row" style="margin:10px 0px;">
                <div class="col">
                    <label>Descrizione</label>
                    
                     <textarea [froalaEditor]="config" [(froalaModel)]="domanda_in_modifica.descrizione"></textarea>
                </div>
            </div>
            <div class="row" style="margin:10px 0px;">
                <div class="col">
                    <label>Obbligatorietà</label>
                    <div class="checkbox-container green">
                        <input type="checkbox" [(ngModel)]="domanda_in_modifica.obbligatorieta"
                        [checked]="domanda.obbligatorieta" id="toggle2" />
                        <label for="toggle2"
                        title="Se selezionato, l'utente dovrà compilare obbligatoriamente la domanda per poter proseguire"></label>
                    </div>
                </div>
                <div class="col">
                    <label>Tipo di input</label>
                    <select class="form-control" [(ngModel)]="domanda_in_modifica.html_type"
                    title="HTML input type">
                        <option *ngFor="let option of html_type_array; index as i" value="{{i}}">
                            {{ option }}
                        </option>   
                    </select>     
                </div>             
            </div>
            <div class="row" style="margin:10px 0px;">
                <div class="col">
                    <label>Lunghezza massima</label>
                    <input class="form-control" type="number"
                    [(ngModel)]="domanda_in_modifica.html_maxlength"
                    title="Lunghezza massima in caratteri (solo per campi testuali)"/>      
                </div>
                <div class="col">
                    <label>Pattern</label>
                    <input class="form-control" type="text"
                    [(ngModel)]="domanda_in_modifica.html_pattern"
                    title="Espressione regolare. Es. [A-Za-z]{3} (solo per campi testuali)"/>      
                </div>            
            </div>
            <div class="row" style="margin:10px 0px;">
                <div class="col">
                    <label>Minimo</label>
                    <input class="form-control" type="number"
                    [(ngModel)]="domanda_in_modifica.html_min"
                    title="Minimo (solo per campi numerici)"/>      
                </div> 
                <div class="col">
                    <label>Massimo</label>
                    <input class="form-control" type="number"
                    [(ngModel)]="domanda_in_modifica.html_max"
                    title="Massimo (solo per campi numerici)"/>      
                </div>
            </div>
            <div class="row" style="margin:10px 0px;">
                <div class="col">                    
                    <label>Rimescola</label>
                    <div class="checkbox-container green">
                        <input type="checkbox" [(ngModel)]="domanda_in_modifica.rimescola"
                        [checked]="domanda.rimescola" id="toggle1" />
                        <label for="toggle1" title="Se selezionato, le risposte verranno presentate in ordine casuale"></label>
                    </div>
                </div>
                <div class="col">
                    <label>Coefficiente di Valutazione</label>
                    <input class="form-control" type="number"
                    [(ngModel)]="domanda_in_modifica.coeff_valutazione"
                    title="Quanto è importante la domanda?"
                    min="1" max="300"/>                       
                </div>  
            </div>
            <div class="row" style="margin-top:15px;padding-bottom: 35px;">
                <div class="col">
                    <button style="min-width: calc((100% / 3) - 35px);margin-right: 5px;" class="btn btn-success" *ngIf="!domanda.editing" alt="Modifica Domanda" title="Modifica Domanda" (click)="goToEdit()" [disabled]="questionario.gia_compilato=='1'"><i class="fa fa-edit"></i></button>
                    <button style="min-width: calc((100% / 3) - 35px);margin-right: 5px;" class="btn btn-danger" *ngIf="!domanda.editing" (click)="delete(this.domanda)" [disabled]="questionario.gia_compilato=='1'"><i class="fa fa-trash-alt"></i></button>
                    <button style="margin-right: 5px;margin-left: 15px;" class="btn btn-success" *ngIf="domanda.editing" alt="Salva Domanda" title="Salva Domanda" (click)="save()" [disabled]="questionario.gia_compilato=='1'">Salva</button>
                    <button style="margin-right: 5px;" class="btn btn-danger" *ngIf="domanda.editing" (click)="returnFromEdit()">Annulla</button>
                </div>
            </div>
            <div class="row" style="margin-bottom:30px;padding-top: 30px;border-top:1px solid;" *ngIf="domanda_in_modifica">
                <div class="col" style="padding:0px 30px;">
                    <div style="float:left;width:100%">
                        <h5 style="float:left">Risposte</h5>
                        <button style="float:right" (click)="creaRisposta()" [disabled]="questionario.gia_compilato=='1'" class="btn btn-success">Crea Nuova Risposta</button>
                    </div>

                    <table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;float:left;width:100%">
                        <thead>
                            <th alt="Descrizione" title="Descrizione">Descrizione</th>
                            <th alt="Valore Risposta" title="Valore Risposta">Valore Risposta</th>
                            <th>Azioni</th>       
                        </thead>    
                        <tbody>
                                <tr table-risposte-row *ngFor="let risposta_row of domanda_in_modifica.risposte; let i= index;" [questionario]="this.questionatioSelezionato" [domanda]="domanda_in_modifica" [rispostaCorrente]="risposta_row"
                                [indexRisposta]="i" (itemRemoved)="removeItem(i)"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button style="margin-right: 5px;" class="btn btn-danger" *ngIf="domanda.editing" (click)="returnFromEdit()">Annulla</button>
        </td>
        
        
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;max-width:110px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" title="" innerHTML="{{ truncate(domanda.descrizione) }}"></div>
        </td>     
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.obbligatorieta_dec }}&nbsp;</div>
        </td> 
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.coeff_valutazione }}&nbsp;</div>
        </td>  
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.rimescola_dec }}&nbsp;</div>
        </td> 
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.html_type_dec }}&nbsp;</div>
        </td> 
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.html_maxlength }}&nbsp;</div>
        </td>
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.html_pattern }}&nbsp;</div>
        </td>
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.html_min }}&nbsp;</div>
        </td>
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ domanda.html_max }}&nbsp;</div>
        </td>
        <td *ngIf="!domanda.editing && !esisteDomandaEditing">
            <div>
                <button style="min-width: calc((100% / 3) - 35px);margin-right: 5px;" class="btn btn-success" *ngIf="!domanda.editing" alt="Modifica Domanda" title="Modifica Domanda"  (click)="goToEdit()"><i class="fa fa-edit"></i></button>
                <button style="min-width: calc((100% / 3) - 35px);margin-right: 5px;" class="btn btn-danger" *ngIf="!domanda.editing" (click)="delete(this.domanda)" [disabled]="questionatioSelezionato.gia_compilato=='1'" title="Elimina Domanda"><i class="fa fa-trash-alt"></i></button>
                <button style="min-width: calc((100% / 3) - 35px);margin-right: 5px;" class="btn btn-success" *ngIf="domanda.editing" alt="Salva Domanda" [disabled]="questionatioSelezionato.gia_compilato=='1'" title="Salva Domanda" (click)="save()"><i class="fa fa-save"></i></button>
                <button style="min-width: calc((100% / 3) - 35px);margin-right: 5px;" class="btn btn-danger" *ngIf="domanda.editing" (click)="returnFromEdit()" title="Annulla"><i class="fa fa-undo"></i></button>
            </div>
        </td>
        