<h3>Questionari</h3>

<button class="btn" style="margin-right:5px;margin-top:10px;" (click)="crea()">Nuovo questionario</button>
<button class="btn" style="margin-top:10px;margin-right:5px;" (click)="refresh()">Refresh</button>
<search (doSearch)="set_search_string($event)" [searchString]="searchString"></search>
<table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;">
    <thead>
        <th>Titolo</th>
        <th>Stato</th>
        <th>Creato da</th>
        <th>Data</th>
        <th>Comune</th>
        <th>Azioni</th>
    </thead>
    <tbody>
        <tr *ngFor="let q of questionari_visibili">
            <td>{{q.titolo}}</td>
            <td>{{q.stato_dec}}</td>
            <td>{{q.utente_creazione}}</td>
            <td>{{q.data_creazione}}</td>
            <td>{{q.flag_comune_dec}}</td>
            <td style="width:30%">
                <button class="btn btn-success" style="min-width: calc((100% / 2) - 20px); margin-right: 5px;" 
                    routerLink="/questionari/{{q.id_questionario}}" routerLinkActive="active"
                    [title]="q.gia_compilato=='1' ? 'Questionario già compilato' : ''">
                    {{q.gia_compilato == '0' ? 'Apri' : 'Apri (read-only)'}}</button>
                <button class="btn btn-dark" style="min-width: calc((100% / 4) - 20px); margin-right: 5px;" (click)="duplica(q.id_questionario)">Duplica</button>
                <button class="btn btn-danger" style="min-width: calc((100% / 4) - 20px);"
                    [disabled]="q.gia_compilato=='1'"
                    [title]="q.gia_compilato=='1' ? 'Questionario già compilato' : ''"
                    (click)="elimina(q.id_questionario)">Elimina</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
</div>

