<h3>Questionari</h3>

<button class="btn" style="margin-right:5px;margin-top:10px;" (click)="crea()"><i class="fa fa-plus-square"></i> Nuovo questionario</button>
<button class="btn" style="margin-top:10px;margin-right:5px;" (click)="refresh()"><i class="fa fa-sync"></i> Refresh</button>
<search (doSearch)="set_search_string($event)" [searchString]="searchString"></search>
<table class="table table-striped" style="background-color: #f8f9fa;margin-top:30px;">
    <thead>
        <th>Titolo</th>
        <th>Stato</th>
        <th>Creato da</th>
        <th>Data</th>
        <th>Comune</th>
        <th>Azioni</th>
    </thead>
    <tbody>
        <tr *ngFor="let q of questionari_visibili">
            <td>{{q.titolo}}</td>
            <td>{{q.stato_dec}}</td>
            <td>{{q.utente_creazione}}</td>
            <td>{{q.data_creazione}}</td>
            <td>{{q.flag_comune_dec}}</td>
            <td style="width:30%">

                <button class="{{q.gia_compilato=='1' ? 'btn btn3 btn-readonly' : 'btn btn3 btn-success'}}"
                    routerLink="/questionario/{{q.id_questionario}}" routerLinkActive="active"
                    [title]="q.gia_compilato=='1' ? 'Apri (read-only perchè già compilato)' : 'Apri'">
                    <i class="fa fa-edit"></i></button>

                <button class="btn btn-dark btn3"
                    title="Duplica" (click)="duplica(q.id_questionario)">
                    <i class="fa fa-clone"></i></button>
                <button class="btn btn-danger btn3"
                    [disabled]="q.gia_compilato=='1'"
                    [title]="q.gia_compilato=='1' ? 'Impossibile eliminare perchè già compilato' : 'Elimina'"
                    (click)="elimina(q.id_questionario)"><i class="fa fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>

