
        <td>
            <div *ngIf="rispostaCorrente.editing">
                    <input class="form-control" type="text"
                    [(ngModel)]="rispostaCorrente.descrizione"
                    title=""/>      
            </div>
            <div *ngIf="!rispostaCorrente.editing">
                <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ rispostaCorrente.descrizione }}&nbsp;</div>
            </div>        
        </td>
        <td>
            <div *ngIf="rispostaCorrente.editing">
                    <input class="form-control" type="number"
                    [(ngModel)]="rispostaCorrente.valore"
                    title=""/>      
            </div>
            <div *ngIf="!rispostaCorrente.editing">
                <div tabindex="0" style="outline: none !important; line-height: 38px;" title="">{{ rispostaCorrente.valore }}&nbsp;</div>
            </div>        
        </td>
        <td>
            <div>
                <button style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" class="btn btn-success" *ngIf="!rispostaCorrente.editing" alt="Modifica risposta" title="Modifica risposta"  (click)="goToEdit()"><i class="fa fa-edit"></i></button>
                <button style="min-width: calc((100% / 2) - 10px);" class="btn btn-danger" *ngIf="!rispostaCorrente.editing" (click)="delete()"><i class="fa fa-trash-alt"></i></button>
                <button style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" class="btn btn-success" *ngIf="rispostaCorrente.editing" alt="Salva risposta" title="Salva risposta" (click)="save()"><i class="fa fa-save"></i></button>
                <button style="min-width: calc((100% / 2) - 10px);" class="btn btn-danger" *ngIf="rispostaCorrente.editing" title="Annulla" (click)="returnFromEdit()"><i class="fa fa-undo"></i></button>
            </div>
        </td>
        