<h3>Utenti:</h3>

<div style="float:left; width:100%">
    <div style="float:left">
        <button class="btn btn-dark" style="margin-right:5px;margin-top:10px;" (click)="newUser()"><i class="fa fa-plus-square"></i> Nuovo utente</button>
        <button class="btn btn-dark" style="margin-right:5px;margin-top:10px;" (click)="refresh()"><i class="fa fa-sync"></i> Refresh</button>
        <button class="btn btn-dark" style="margin-right:5px;margin-top:10px;" (click)="sync()"><i class="fa fa-retweet"></i> Sincronizza LDAP</button>
    </div>
    <div style="float:right">
        <filter-table [is_compilazioni]="false" (filter)="this.filter($event)" [count]="this.countUtenti"></filter-table>
    </div>
</div>

<div style="background-color: #f8f9fa;float: left;width: 100%;margin-top:30px;">
    <div style="float: left;width: 14%;padding: .75rem;text-align: center;font-weight: bold;" (click)="ordinamento('username')">Username <i *ngIf="current_order == 'desc' && nome_colonna_ordinamento == 'username'" class="fa fa-sort-alpha-up"></i><i *ngIf="current_order == 'asc' && nome_colonna_ordinamento == 'username'" class="fa fa-sort-alpha-down"></i></div>
    <div style="float: left;width: 15%;padding: .75rem;text-align: center;font-weight: bold;" (click)="ordinamento('nome')">Nome<i *ngIf="current_order == 'desc' && nome_colonna_ordinamento == 'nome'" class="fa fa-sort-alpha-up"></i><i *ngIf="current_order == 'asc' && nome_colonna_ordinamento == 'nome'" class="fa fa-sort-alpha-down"></i></div>
    <div style="float: left;width: 15%;padding: .75rem;text-align: center;font-weight: bold;" (click)="ordinamento('cognome')">Cognome<i *ngIf="current_order == 'desc' && nome_colonna_ordinamento == 'cognome'" class="fa fa-sort-alpha-up"></i><i *ngIf="current_order == 'asc' && nome_colonna_ordinamento == 'cognome'" class="fa fa-sort-alpha-down"></i></div>
    <div style="float: left;width: 20%;padding: .75rem;text-align: center;font-weight: bold;" (click)="ordinamento('email')">Email<i *ngIf="current_order == 'desc' && nome_colonna_ordinamento == 'email'" class="fa fa-sort-alpha-up"></i><i *ngIf="current_order == 'asc' && nome_colonna_ordinamento == 'email'" class="fa fa-sort-alpha-down"></i></div>
    <div style="float: left;width: 15%;padding: .75rem;text-align: center;font-weight: bold;" (click)="ordinamento('ruolo')">Ruolo<i *ngIf="current_order == 'desc' && nome_colonna_ordinamento == 'ruolo'" class="fa fa-sort-alpha-up"></i><i *ngIf="current_order == 'asc' && nome_colonna_ordinamento == 'ruolo'" class="fa fa-sort-alpha-down"></i></div>
    <div style="float: left;width: 21%;padding: .75rem;text-align: center;font-weight: bold;">Azioni</div>
</div>
<div style="float: left;width: 100%;">
    <table class="table table-striped hidden-sm hidden-xs">
        <thead style="display:none;">
            <th style="width:14%;">Username</th>
            <th style="width:15%;">Nome</th>
            <th style="width:15%;">Cognome</th>
            <th style="width:20%;">Email</th>
            <th style="width:15%;">Ruolo</th>
            <th style="width:21%;">Azioni</th>
        </thead>
        <tbody>
            <tr table-utenti-row *ngFor="let utente_row of utenti_visibili; let i= index;" [indice_utente]="i" [utente]="utente_row" (itemRemoved)="removeItem($event)" (itemModified)="sendMsgUtenti($event,'Utente modificato')" (itemCreated)="sendMsgUtenti($event,'Utente creato')"></tr>
        </tbody>
    </table>
</div>