<td>
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.titolo_progetto }}&nbsp;</div>
</td>
<td>
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.titolo_questionario }}&nbsp;</div>
</td>
<td>
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.data_compilazione }}&nbsp;</div>
</td>
<td *ngIf="storico && currentUser.ruolo == '2'">
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.nome_utente }}&nbsp;</div>
</td>
<td>
    <div *ngIf="!storico">
        <button *ngIf="data.progressivo_quest_comp != null"
            style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
            class="btn btn-success" routerLink="/questionari_da_compilare/{{data.progressivo_quest_comp}}"
            routerLinkActive="active">Riprendi la compilazione</button>
        <button *ngIf="data.progressivo_quest_comp == null"
            style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
            class="btn btn-success" (click)="creaQuestionarioCompilato()"> Compila il questionario</button>
    </div>
    <div *ngIf="storico">
        <button routerLink="/questionari_compilati/{{data.progressivo_quest_comp}}"
            style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
            class="btn btn-success" routerLinkActive="active">Apri (read-only)</button>
        <button *ngIf="currentUser.ruolo == '2' && data.stato_quest_comp < '2'" 
            style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
            class="btn btn-danger" (click)="invalida()"> Invalida compilazione</button>
    </div>
</td>