<td style="width:25%;">
    <div tabindex="0" style="outline: none !important;line-height: 38px;text-align: center;" title="{{ data.titolo_progetto}}">{{ data.titolo_progetto}}&nbsp;</div>
</td>
<td style="width:25%;">
    <div tabindex="0" style="outline: none !important;line-height: 38px;text-align: center;" title="{{ data.titolo_questionario}}">{{ data.titolo_questionario}}&nbsp;</div>
</td>
<td style="width:20%;">
    <div tabindex="0" style="outline: none !important;line-height: 38px;text-align: center;">{{ data.data_compilazione | date: 'dd/MM/yyyy h:mm:ss a'}}&nbsp;</div>
</td>
<td style="width:10%;">
    <div tabindex="0" style="outline: none !important;line-height: 38px;text-align: center;">{{ data.stato_quest_comp_dec }}&nbsp;</div>
</td>
<td style="width:10%;" *ngIf="storico && currentUser.ruolo == '2'">
    <div tabindex="0" style="outline: none !important;line-height: 38px;text-align: center;" title="{{ (data.cognome || '') +' '+ (data.nome || '')}}">{{ (data.cognome || '') +' '+ (data.nome || '')}}</div>
</td>
<td>
    <div style="width:120px;" *ngIf="!storico">
        <button *ngIf="data.progressivo_quest_comp != null" class="btn btn-success btn2" routerLink="/questionari_da_compilare/{{data.progressivo_quest_comp}}" routerLinkActive="active">Riprendi la compilazione</button>
        <button *ngIf="data.progressivo_quest_comp == null" class="btn btn-success btn2" (click)="creaQuestionarioCompilato()"> Compila il questionario</button>
    </div>
    <div style="width:120px;" *ngIf="storico">

        <button routerLink="/questionari_compilati/{{data.progressivo_quest_comp}}" class="btn btn-readonly btn2" routerLinkActive="active" title="Apri (read-only)"><i class="fa fa-edit"></i>
            </button>
        <button *ngIf="currentUser.ruolo == '2' && data.stato_quest_comp < '2'" class="btn btn-danger btn2" (click)="invalida()" title="Invalida compilazione - L'utente dovrà ricompilare il questionario">
            <i class="fa fa-trash-alt"></i></button>
    </div>
</td>