<td>
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.titolo_progetto }}&nbsp;</div>
</td>
<td>
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.titolo_questionario }}&nbsp;</div>
</td>
<td>
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.data_compilazione }}&nbsp;</div>
</td>
<td>
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.stato_quest_comp_dec }}&nbsp;</div>
</td>
<td *ngIf="storico && currentUser.ruolo == '2'">
    <div tabindex="0" style="outline: none !important; line-height: 38px;" >{{ data.nome_utente }}&nbsp;</div>
</td>
<td>
    <div *ngIf="!storico">
        <button *ngIf="data.progressivo_quest_comp != null"
            style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
            class="btn btn-success" routerLink="/questionari_da_compilare/{{data.progressivo_quest_comp}}"
            routerLinkActive="active">Riprendi la compilazione</button>
        <button *ngIf="data.progressivo_quest_comp == null"
            style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
            class="btn btn-success" (click)="creaQuestionarioCompilato()"> Compila il questionario</button>
    </div>
    <div *ngIf="storico">
        <div class="readOnlyButton">
            <button routerLink="/questionari_compilati/{{data.progressivo_quest_comp}}"
                style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
                class="btn btn-success" routerLinkActive="active"
                title="Apri (read-only)"><i class="fa fa-edit"></i>
            </button>
        </div>
        <button *ngIf="currentUser.ruolo == '2' && data.stato_quest_comp < '2'" 
            style="min-width: calc((100% / 2) - 10px); margin-right: 5px;" 
            class="btn btn-danger" (click)="invalida()"
            title="Invalida compilazione - L'utente dovrà ricompilare il questionario">
            <i class="fa fa-trash-alt"></i></button>
    </div>
</td>