<h3>Software per la gestione di Questionari</h3>
    
<p >Prodotto nel 2019 da <a href="http://www.finsoft.it/">Finsoft srl</a> per <a href="https://osai-as.com/"> OSAI AS spa</a>.</p>
    
<p>Il software è stato testato con Mozilla Firefox, Google Chrome, MS  Edge. Non è supportato MS Internet Explorer.</p>

<p><i>Statistiche</i></p>

<p *ngIf="!loaded" style='margin-left:35.4pt'>Loading...</p>
<p *ngIf="loaded" style='margin-left:35.4pt'>Progetti creati: {{num_progetti}}<br/>
    Questionari creati: {{num_questionari}}<br/>
    Questionari compilati: {{num_compilazioni}}<br/>
    Per un totale di {{num_risposte}} risposte date
</p>

<p><i>Credits:</i></p>

<p style='margin-left:35.4pt'>Luca Vercelli</p>

<p style='margin-left:35.4pt'>Alessandro Barsanti</p>

